<mat-toolbar class="!bg-primary flex items-center justify-between !px-6">
    <span class="text-white font-text font-bold">Tivic UI</span>
    <div class="flex items-center gap-x-2">
        <div class="timer">
            <mat-icon class="material-symbols-outlined">timer</mat-icon>
            <span>00:00</span>
        </div>

        <tvc-button icon="group" color="primary" routerLink="/usuarios">
            Usuários
        </tvc-button>

        <div class="h-6 w-0.5 bg-white"></div>

        <div class="person pl-2">
            <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
            <span>Aiandra</span>
        </div>
    </div>
</mat-toolbar>
<router-outlet />
