<div class="main">
    <div class="fx-column" [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" placeholder="Nome do usuário" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Nome do usuário" formControlName="email" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Senha do usuário" formControlName="password" required />
        </mat-form-field>
        <div class="fx-row justify-end">
            <tvc-button icon="arrow_back" color="link" routerLink="/usuarios">
                Voltar
            </tvc-button>
            @if (!enabled) {
                <tvc-button icon="edit" color="accent" (click)="formGroup.enable()">
                    Editar
                </tvc-button>
            } @else {
                <tvc-button icon="save" color="accent" (click)="onSubmit()" [disabled]="formGroup.invalid">
                    Salvar
                </tvc-button>
            }
        </div>
    </div>
</div>
