<div class="main">
    <div class="fx-column">
        <div class="fx-row justify-end" routerLink="/usuarios/novo">
            <tvc-button icon="add" color="outline">
                Adicionar
            </tvc-button>
        </div>
        <div class="">
            <table mat-table [dataSource]="dataSource$ | async">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let item"> {{ item.cdUsuario || "-" }} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let item"> {{ item.nmLogin || "-" }} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> E-mail </th>
                    <td mat-cell *matCellDef="let item"> {{ item.nmEmail || "-" }} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Editar </th>
                    <td mat-cell *matCellDef="let item">
                        <button mat-icon-button (click)="onEdit(item)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </div>
</div>